@import "../mixins";

.ships {
  padding: 40px 0;
  min-height: 100vh;

  @include mobile {
    padding: 30px 0 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "main main main main main main main sd sd sd";

    @include mobile {
      grid-template-areas:
        "main main main main main sd sd sd sd sd";
    }
  }

  &__search {
    width: 100%;
    height: 55px;
    margin-bottom: 25px;
    padding: 15px 20px;
    outline: transparent;
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid var(--color-main);
    font-size: 18px;
    color: var(--color-black);
    background-color: var(--color-main);

    @include mobile {
      padding: 10px 13px;
      font-size: 16px;
      height: 44px;
    }

    &::placeholder {
      font-family: "Roboto Condensed", sans-serif;
      color: var(--color-black);
    }

    &:focus {
      background-color: var(--color-gull-gray);
      border-color: var(--color-malibu);
      box-shadow: 0 0 0 0.2px rgba(0, 123, 255, 0.25)
    }
  }

  &__select {
    margin-bottom: 25px;
    grid-auto-rows: minmax(44px, auto);

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__list {
    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }

    &--active {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 20px;

      .ship{
        cursor: default;

        &::before {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.content {
  grid-area: main;
}

.sidebar {
  grid-area: sd;
  margin-left: 12.5%;
  padding: 10px 0;

  &__text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;

    &-level {
      font-weight: 700;
    }

    &:not(:first-child) {
      margin-bottom: 0;
    }

    @include mobile {
      font-size: 16px;
    }
  }
}

.ship {
  position: relative;
  display: block;
  padding: 20px;
  min-height: 90px;
  background: center/cover no-repeat var(--color-main);
  cursor: pointer;

  @include small-tablet {
    padding: 20px 10px;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
  }

  &__title {
    font-weight: 700;
  }

  &__nation {
    position: relative;
    margin-bottom: 8px;
  }

  &__level {
    position: relative;
  }
}