<section class="ships">
  <div class="container">
    <div class="ships__inner">
      <div class="content">
        <input class="ships__search" autocomplete="off" type="search" id="search" placeholder="Найти корабль" />
        <div class="ships__select grid">
          <select class="select-default" name="Nation" aria-label="Выбор нации">
            <option value="">Нация</option>
            <option value="usa">Сша</option>
            <option value="japan">Япония</option>
            <option value="ussr">СССР</option>
            <option value="germany">Германия</option>
            <option value="uk">Великобритания</option>
            <option value="france">Франция</option>
            <option value="italy">Италия</option>
            <option value="europe">Европа</option>
            <option value="commonwealth">Содружество Наций</option>
            <option value="pan_asia">Пан-Азия</option>
            <option value="pan_america">Пан-Америка</option>
          </select>
          <select class="select-default" name="Type" aria-label="Выбор класса">
            <option value="">Класс</option>
            <option value="destroyer">Эсминец</option>
            <option value="cruiser">Крейсер</option>
            <option value="battleship">Линкор</option>
            <option value="aircarrier">Авианосец</option>
          </select>
          <select class="select-default" name="Level" aria-label="Выбор уровня">
            <option value="">Уровень</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <ul class="ships__list grid"></ul>
        <button class="ships__button btn" type="button">
          Посмотреть корабли
        </button>
      </div>
      <aside class="sidebar">
        <p class="sidebar__text">Выбранные корабли:</p>
        <ul class="ships__list ships__list--active grid">
          <li class="ships__item">
            <arcticle class="ship" style="background-image: url('img/ship.png');">
              <div class="ship__nation">usa /
                <span class="ship__type">cruiser</span>
              </div>
              <div class="ship__level">10
                <span class="ship__title">Salem</span>
              </div>
            </arcticle>
          </li>
        </ul>
        <p class="sidebar__text">
          Сумма уровней: <span class="sidebar__text-level">10</span>
        </p>
      </aside>
    </div>
  </div>
</section>