<section class="ships">
  <div class="container">
    <div class="ships__inner">
      <div class="content">
        <input class="ships__search" autocomplete="off" type="search" id="search" placeholder="Найти корабль" />
        <ul class="ships__list"></ul>
        <button class="ships__button btn" type="button">
          Посмотреть корабли
        </button>
      </div>
      <aside class="sidebar">
        <p class="sidebar__text">Выбранные корабли:</p>
      </aside>
    </div>
  </div>
</section>

