html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: 400;
  background-image: url("../img/bg-ships.jpg");
  background-repeat: repeat-y;
  background-color: #102031;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  color: #fff;
  letter-spacing: 0.32px;
  padding: 13px 28px;
  background-image: linear-gradient(to top, #e12e00 0, #fd6200 100%);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
