// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #7e9ba1;
  --color-blue: #00cad4;
  --color-gull-gray: #9cb2b6;
  --color-malibu: #80bdff;
  --color-grenadier: #e12e00;
  --color-orange: #fd6200;
  --color-big-stone: #102031;
}
